<footer class="footer">
  <small>
    L'app de Daniel
  </small>
  <nav>
    <ul>
      <li><%= link_to "Rien",   '#' %></li>
      <li><%= link_to "Du", '#' %></li>
      <li><%= link_to "Tout", '#' %></li>
    </ul>
  </nav>
</footer>
