<% if logged_in? %>
  <table style="width:100%;">
    <tr>
      <td>
        <%= link_to "Créer un nouvel event", 'new_event', class: "btn btn-lg btn-primary" %>
      </td>
    </tr>
  </table>
<% else %>
  <table style="width:90%;">
    <tr>
      <th>
        <h3>..mais avant inscris toi !</h3>
      </th>
      <th>
        <h3>..connecte toi !</h3>
      </th>
    </tr>
    <tr>
      <td><%= link_to "Inscris toi!", 'signup', class: "btn btn-lg btn-info" %></td>
      <td><%= link_to "Connecte toi!", 'login', class: "btn btn-lg btn-info" %></td>
    </tr>
  </table>
  <table style="width:100%">
    <tr>
      <td>
        <%= link_to "Créer un nouvel event", 'login', class: "btn btn-lg btn-primary" %>
      </td>
    </tr>
  </table>

<% end %>
