<table class="table-hover index">
  <thead>
    <tr>
      <th>Date</th>
      <th>Lieu</th>
      <th>Créateur</th>
    </tr>
  </thead>

  <tbody>
    <% if !@events.nil? %>
      <% @events.past.sort{|a,b| a.date <=> b.date}.each do |event| %>
        <tr>
          <td><%= event.date.strftime("%d-%b-%Y") %></td>
          <td><%= event.place %></td>
          <td><%= event.creator.name %></td>
          <% if logged_in? %>
            <td><%= link_to 'Show', event, :class=>"btn btn-sm btn-info", :method=>:get%></td>
            <% end %>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
